<div class="container d-flex justify-content-center align-items-center flex-column my-5">
    <div class="card" style="max-width: 300px;">
        <div class="card-body">
            <div class="card-title" style="font-size: 1.5rem;">{{.Name}}</div>
            <div class="card-subtitle text-muted">ID#{{.ID}}</div>
            {{$length := len .Data}}{{if eq $length 0}}
                No data provided yet
            {{else}}
                {{.Data}}
            {{end}}
            <div class="w-100 mb-3"></div>
            <label for="data">Add a new data</label><br>
            <input type="number" name="data" id="data" value="0"><div class="w-100 mb-3"></div>
            <button type="button" class="btn btn-sm btn-primary mr-1" id="update">update</button>
            <button type="button" class="btn btn-sm btn-outline-danger" id="delete">delete</button>
        </div>
    </div>
</div>

<script>
    document.getElementById("update").addEventListener("click", function() {
        if (document.getElementById("data").value != "") {
            $.ajax({
                url: "/user/{{.ID}}",
                method: "PATCH",
                data: {
                    data: document.getElementById("data").value
                },
                dataType: "json"
            }).always((res) => {
                if (res.status == 200) {
                    alert("Updated")
                    window.location.reload()
                } else {
                    alert("Code "+ res.status + ": " + res.responseText)
                    window.location.replace("/")
                }
            })
        }
    })
    document.getElementById("delete").addEventListener("click", function() {
        $.ajax({
            url: "/user/{{.ID}}",
            method: "DELETE"
        }).always((res) => {
            alert("Deleted")
            window.location.replace("/")
        })
    })
</script>
